.history/
/参考示例
/.idea/
/node_modules/
/dist/
/build/
/coverage/
/test/
/docs/
/public/
/src/assets/
/src/components/
/src/views/
/src/store/
/src/router/
/src/utils/
/src/mock/
/src/api/
/src/lang/
/src/plugins/
/src/filters/
/src/directives/
